.page {  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 12px;
  gap: 64px;
  max-width: 800px;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 36px;
}

.parent {
  height: 100svh;
  overflow: auto;
  padding-bottom: 48px;
}

.header {
  position: sticky;
  top: 0;
  padding: 12px;
  text-align: center;
  width: 100%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.95); 
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  justify-content: space-around;
  z-index: 10;
}

[data-theme="dark"] .header {
  background-color: rgba(0, 0, 0, 0.95);
}

.createNewExercise {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px; 
  text-align: center; 
  width: 100%; 
  height: 96px;
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(17, 116, 192, 0.05);
  cursor: pointer;
  border-style: dashed;
  border-width: 2px;
  border-radius: 8px !important;
  border-color: black;
  font-size: 16px;
}

.createNewExercise:hover {
  border-style: solid;
  color: rgba(0, 0, 0);
  border-color: black;
  background-color: rgba(17, 116, 192, 0.1);
  font-weight: bold;
}

[data-theme="dark"] .createNewExercise {
  color: rgba(255, 255, 255, 0.6);
  border-color: white;
  background-color: rgba(17, 116, 192, 0.2);
}

/* Hover effects for dark mode */
[data-theme="dark"] .createNewExercise:hover {
  /* color: rgba(255, 255, 255);  */
  color: yellowgreen;
  border-color: yellowgreen;
  background-color: rgba(17, 116, 192, 0.3); 
}

.homePageSection {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.exerciseLink {
  text-decoration: underline dashed;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.exerciseLink:hover {
  text-decoration: underline wavy;
  font-weight: bold;
}

[data-theme="dark"] .exerciseLink:hover {
  text-decoration: underline wavy;
  font-weight: bold;
  color: yellowgreen;
}

.warmUpToggle, .warmUpToggle:focus  {
  background: none;
  cursor: pointer;
  padding: 0; 
  width: auto;
  height: 2em;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1em;
  box-shadow: none;
  border-radius: 1000px !important;
}

.warmUpToggle:hover {
  border: 2px solid rgba(0, 200, 255, 0.8) !important;
  background-color: rgba(0, 200, 255, 0.05) !important;
}

.trashButton {
  background-color: transparent;
  border: 1px solid #e6394787;
  color: #E63946;
  cursor: pointer;
  width: auto;
  height: 2em;
  aspect-ratio: 1;
  border-radius: 0;
}

.trashButton:hover {
  background-color: #e6394771;
  border: 2px solid #E63946 !important;
}

.trashButton:disabled {
  background-color: #e6394735;
  color: gray;
  border-color: gray;
}

.addSetButton, .logExerciseButton, .editExerciseButton, .deleteExerciseButton {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; 
  width: 100%;
  box-shadow: none;
  padding: 16px;
  height: 36px;
  border-radius: 0;
}

.addSetButton {
  border: solid 1px;
  background-color: transparent;
  color: black;
}

.addSetButton:hover {
  background-color: rgb(17, 116, 192, 0.1);
  border: solid 2px black;
  font-weight: bold;
  color: #635380;
}

[data-theme="dark"] .addSetButton {
  background-color: transparent;
  color: white;
}

[data-theme="dark"] .addSetButton:hover {
  background-color: rgb(17, 116, 192, 0.1);
  border: solid 2px white;
  font-weight: bold;
  color: yellowgreen;
}

.logExerciseButton {
  border: solid 1px black;
  background-color: #339989;
  color: black;
  font-weight: bold;
}

.logExerciseButton:hover {
  background-color: #635380;
  border: solid 2px black;
  font-weight: bolder;
  color: rgb(154, 205, 50);
}

.logExerciseButton:disabled {
  background-color: rgb(148, 170, 168, 0.5);
  color: gray;
  border: solid 1px gray;
  font-weight: normal;
}

[data-theme="dark"] .logExerciseButton {
  border: solid 1px white;
  background-color: #339989;
  color: white;
}

[data-theme="dark"] .logExerciseButton:hover {
  background-color: #473D5A;
  border: solid 2px white;
  font-weight: bolder;
  color: yellowgreen;
}

.editExerciseButton {
  border: solid 1px black;
  background-color: #6B7FD7; 
  color: black;
  font-weight: bold;
}

.editExerciseButton:hover {
  background-color: #020887;
  border: solid 2px black;
  font-weight: bolder;
  color: #EFCB68
}

.editExerciseButton:disabled {
  background-color: rgb(107, 127, 215, 0.5);
  color: gray;
  border: solid 1px gray;
  font-weight: normal;
}

[data-theme="dark"] .editExerciseButton {
  border: solid 1px white;
  background-color: #5E6FBA; 
  color: white;
}

[data-theme="dark"] .editExerciseButton:hover {
  background-color: #192287;
  border: solid 2px white;
  color: #EFCB68
}

.deleteExerciseButton {
  border: solid 1px black;
  background-color: #E63946;
  color: white;
  font-weight: bold;
}

.deleteExerciseButton:hover {
  border: 2px solid black !important;
  background-color: #FF1B1C;
}

[data-theme="dark"] .deleteExerciseButton {
  border: solid 1px white;
  background-color: #C7333F;
  color: white;
}

[data-theme="dark"] .deleteExerciseButton:hover {
  border: 2px solid white !important;
  background-color: #DC1A1B;
}

.divider {
  border: none;
  border-top: 2px dashed #ccc;
}

.dateTimePickerInput {
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  border: solid 1px black;
  padding: 4px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  -webkit-appearance: none;
  box-sizing: border-box;
  background-color: black;
  color: white;
  accent-color: white;
}
.dateTimePickerInput::-webkit-calendar-picker-indicator {
    cursor: pointer;
    color-scheme: dark;
}

.dateTimePickerInput:hover {
  background-color: #2A324B;
  border: solid 2px #2A324B;
  cursor: pointer;
  font-weight: bold;
}

[data-theme="dark"] .dateTimePickerInput {
  border: solid 1px white;
  background-color: #1b2030;
}

[data-theme="dark"] .dateTimePickerInput:hover {
  border: solid 2px white;
  background-color: #222838;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  width: 100%;
  display: flex;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}

.headerButton {
  color: white;
  background-color: transparent;
  border: solid 1px transparent;
  border-radius: 8px !important;
  display: inline;
  padding: 12px;
  box-shadow: none;
}

.headerButton:hover {
  background-color: rgb(242, 241, 241);
}

[data-theme="dark"] .headerButton:hover {
  background-color: transparent;
  border: solid 1px yellowgreen;
}

.headerButton span {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

[data-theme="dark"] .headerButton span {
  color: white;
}

.createNewExerciseLink {
  text-decoration: underline dashed;
  text-decoration-thickness: 1px;
  text-underline-offset: 8px;
  font-weight: bold;
  display: inline;
}

.createNewExerciseLink:hover {
  text-decoration: underline solid;
  color: var(--text-color);
  cursor: pointer;
}

.editButton {
  background-color: transparent;
  border: none;
  color: #6B7FD7;
  cursor: pointer;
  height: 18px;
  width: 18px;
  box-shadow: none;
}

.paginator {
  height: 50px;
  border-radius: 0;
}

.copyUserIdButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px; 
  text-align: center; 
  width: 100%; 
  height: 96px;
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(17, 116, 192, 0.05);
  cursor: pointer;
  border-style: dashed;
  border-width: 2px;
  border-radius: 8px !important;
  border-color: black;
  font-size: large;
}

.copyUserIdButton i {
  font-size: medium;
}

.copyUserIdButton:hover {
  border-style: solid;
  color: rgba(0, 0, 0);
  border-color: black;
  background-color: rgba(17, 116, 192, 0.1);
  font-weight: bold;
}

.copyUserIdButton:hover i {
  transform: rotate(-10deg);
}

[data-theme="dark"] .copyUserIdButton {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(17, 116, 192, 0.2);
  border-color: white;
}

[data-theme="dark"] .copyUserIdButton:hover {
  color: yellowgreen;
  border-color: yellowgreen;
  background-color: rgba(17, 116, 192, 0.3); 
}
