.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  /* min-height: 100svh; */
  padding: 12px;
  gap: 64px;
  max-width: 800px;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  grid-row-start: 2;
  width: 100%;
  gap: 36px;
}

@media (min-width: 800px) {
  .page {
    margin-top: 48px;
  }
}

.createNewExercise {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px; 
  text-align: center; 
  width: 100%; 
  height: 96px;
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(17, 116, 192, 0.05);
  cursor: pointer;

  border-style: dashed;
  border-width: 2px;
  border-radius: 8px;
}

.createNewExercise:hover {
  border-style: solid;
  color: rgba(0, 0, 0);
  background-color: rgba(17, 116, 192, 0.1);
  font-weight: bold;
}

.homePageSection {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.exerciseLink {
  text-decoration: underline dashed;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.exerciseLink:hover {
  text-decoration: underline wavy;
  font-weight: bold;
}

.warmUpToggle, .warmUpToggle:focus  {
  background: none;
  cursor: pointer;
  padding: 0; 
  width: auto;
  height: 2em;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1em;
  box-shadow: none;
}

.warmUpToggle:hover {
  border: 2px solid rgba(0, 200, 255, 1) !important;
  background-color: rgba(0, 200, 255, 0.2) !important;
}

.trashButton {
  background-color: transparent;
  border: 1px solid rgb(255, 55, 0);
  color: rgb(255, 55, 0);
  cursor: pointer;
  width: auto;
  height: 2em;
  aspect-ratio: 1;
}

.trashButton:hover {
  background-color: rgb(255, 55, 0, 0.4);
  border: 2px solid rgb(255, 55, 0) !important;
}

.trashButton:disabled {
  background-color: rgba(255, 200, 185, 0.4);
  color: gray;
  border-color: gray;
}

.addSetButton, .logExerciseButton {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; 
  width: 100%;
  box-shadow: none;
  padding: 16px;
  height: 36px;
}

.addSetButton {
  border: dashed 2px black;
  background-color: transparent;
  color: black;
}

.addSetButton:hover {
  background-color: lightblue;
  border: solid 2px black;
  font-weight: bold;
  color: palevioletred;
}

.logExerciseButton {
  border: solid 2px black;
  background-color: lightseagreen;
  color: white;
  font-weight: bold;
}

.logExerciseButton:hover {
  background-color: indigo;
  border: solid 2px black;
  font-weight: bolder;
  color: greenyellow;
}

.logExerciseButton:disabled {
  background-color: rgb(148, 170, 168, 0.5);
  color: gray;
  border: solid 1px gray;
  font-weight: normal;
}

.dateTimePickerInput {
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  border: solid 1px black;
  padding: 4px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  -webkit-appearance: none;
  box-sizing: border-box;
}

.dateTimePickerInput:hover {
  color: navy;
  border: solid 2px navy;
  cursor: pointer;
}